@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #171717;
}

.blog-title{
    position: relative; /* Для абсолютного позиционирования overlay */
    background-color: #ffffff; /* Light background */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure content doesn't overflow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-left: 200px ;
    margin-right: 200px ;
    padding-top: 25px;
    padding-bottom: 25px;
}

.news-back{
    position: relative; /* Для абсолютного позиционирования overlay */
    background-color: #e4e4e4; /* Light background */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure content doesn't overflow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-top:20px;
    margin-left:200px;
    margin-right:200px;
    padding-bottom: 35px;
}

/* Базовые стили для контейнера */
.grid-container {
    display: grid;
    gap: 20px; /* расстояние между элементами */
    margin: 20px; /* отступы от краев */
}

/* Стиль для 1 колонки */
.grid-1 {
    grid-template-columns: 1fr;
}

/* Стиль для 2 колонок */
.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

/* Стиль для 3 колонок */
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Стиль для 4 колонок */
.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

/* Стили для новостных карточек */
.news-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.news-item:hover {
    transform: scale(1.01); /* Slight zoom on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
}

.news-item img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures images are nicely cropped if needed */
}

/* Styling for text content inside news items */
.news-item p {
    margin: 0;
    padding: 0;
}

/* Optional: Responsive adjustments */
@media (max-width: 1200px) {
    .grid-block-1 {
        grid-template-columns: repeat(3, 1fr); /* Adjust to 3 columns on smaller screens */
    }
    .grid-block-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-block-3 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .grid-block-1,
    .grid-block-2,
    .grid-block-3,
    .grid-block-4 {
        grid-template-columns: 1fr; /* All blocks become single-column on small screens */
    }
}
