@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


nav {
  color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.carousel-image {
  width: 100%; /* фиксированная ширина */
  height: 100%; /* фиксированная высота */
  object-fit: cover; /* Сохраняет пропорции и центрирует изображение */
}

/* styles.css */
.quote-enter {
  transform: translateX(100%);
  opacity: 0;
}

.quote-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}

.quote-exit {
  transform: translateX(-100%);
  opacity: 1;
}

.quote-exit-active {
  transform: translateX(0);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}

#countryInput{
  background-color: whitesmoke;
  width: 450px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#countryInput:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#countryInput::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#countryInput:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#cityInput{
  background-color: whitesmoke;
  width: 450px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#cityInput:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#cityInput::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#cityInput:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#DepartureFromInput{
  background-color: whitesmoke;
  width: 130px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#DepartureFromInput:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#DepartureFromInput::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#DepartureFromInput:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#NightsFromInput{
  background-color: whitesmoke;
  width: 80px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#NightsFromInput:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#NightsFromInput::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#NightsFromInput:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#AdultsInput{
  background-color: whitesmoke;
  width: 80px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#AdultsInput:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#AdultsInput::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#AdultsInput:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#PriceFromInput{
  background-color: whitesmoke;
  width: 130px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#PriceFromInput:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#PriceFromInput::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#PriceFromInput:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#DepartureToInput{
  background-color: whitesmoke;
  width: 130px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#DepartureToInput:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#DepartureToInput::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#DepartureToInput:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#nightsToInput{
  background-color: whitesmoke;
  width: 80px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#nightsToInput:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#nightsToInput::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#nightsToInput:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#childrenInput{
  background-color: whitesmoke;
  width: 80px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#childrenInput:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#childrenInput::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#childrenInput:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#priceToInput{
  background-color: whitesmoke;
  width: 130px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#priceToInput:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#priceToInput::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#priceToInput:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#currency{
  display: inline-block;
  white-space: nowrap;
  background-color: whitesmoke;
  height: 42px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#currency:focus {
  border-color: #007BFF;  /* Изменение цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#currency::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#currency:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}

#submitButton{
  background-color: #F14848;
  width: 120px;           /* Ширина поля */
  height: 42px;           /* Высота поля */
  border: 1px solid ; /* Цвет и толщина рамки */
  border-radius: 8px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  color: white;
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#submitButton::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#submitButton:hover {
  border-color: #F14848;     /* Цвет рамки при наведении */
}

#hotelDiv:hover{
  box-shadow: 0 0 5px rgba(45, 51, 57, 0.5); /* Подсветка при фокусе*/
  transition: all 0.1s ease;
}

#loadingButton{
  background-color: #F14848;
  width: 160px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  border: 1px solid #F14848; /* Цвет и толщина рамки */
  border-top-left-radius: 8px;  /* Закругление верхнего левого угла */
  border-top-right-radius: 8px; /* Закругление верхнего правого угла */
  border-bottom-left-radius: 0; /* Углы снизу остаются прямыми */
  border-bottom-right-radius: 0;
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  color: white;
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#loadingButton:hover{
  background-color: rgba(241, 72, 72, 0.9);
  width: 160px;           /* Ширина поля */
  height: 40px;           /* Высота поля */
  border-top-left-radius: 8px;  /* Закругление верхнего левого угла */
  border-top-right-radius: 8px; /* Закругление верхнего правого угла */
  border-bottom-left-radius: 0; /* Углы снизу остаются прямыми */
  border-bottom-right-radius: 0;
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  color: white;
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#returnText{
  color:rgba(241, 72, 72, 0.9);
}

#roomSelect{
  background-color: whitesmoke;
  display: inline-block;
  white-space: nowrap;
  height: 40px;           /* Высота поля */
  padding: 10px;          /* Внутренние отступы */
  border: 2px solid #ccc; /* Цвет и толщина рамки */
  border-radius: 5px;     /* Закруглённые углы */
  font-size: 16px;        /* Размер шрифта */
  font-family: Arial, sans-serif; /* Шрифт */
  outline: none;          /* Убирает стандартное выделение */
  box-shadow: none;       /* Убирает тень */
  transition: all 0.3s ease; /* Плавные переходы при изменениях */
}

#roomSelect:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Подсветка при фокусе */
}

#roomSelect::placeholder {
  color: #888;            /* Цвет плейсхолдера (подсказки) */
  font-style: italic;     /* Стиль плейсхолдера */
}

#roomSelect:hover {
  border-color: #999;     /* Цвет рамки при наведении */
}
.-top-98{
  top:30rem;
}

.-top-100{
  top:34rem;
}

.left-99{
  left:31.5rem;
}

.left-100{
  left:36rem;
}

.w-100{
  width:600px;
}
.text-outline {
  position: relative;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
}

.text-outline::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: #000; /* Цвет обводки */
  z-index: -1; /* Помещаем за текст */
}
.pin {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: 115px;

  border-radius: 50%;
  border: 8px solid rgba(241, 72, 72, 0.9);
  width: 8px;
  height: 8px;
}

.pin::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid rgba(241, 72, 72, 0.9);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
